<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot</title>
    <link rel="stylesheet" href="static\style.css">
</head>
<body>
    <video autoplay loop muted playsinline class="background-video">
        <source src="https://freefrontend.com/assets/img/css-animated-backgrounds/shooting-star.mp4" type="video/mp4">
    </video>
    <div class="chat-container" >
       
        <h2 ><img src="static\images\logo.png" width="40" height="35">Gate<span>Mate</span></h2>
        <div class="home-messages">
           
            <p class="top">Ready to crack</p>
            <center><h1 class="middle">GATE?</h1></center>
            <p class="bottom">Let’s make your prep <b>smarter!</b></p>
                 <button class="start-btn" onclick="startChat()">Start Chat</button>
        </div>

        
    </div>
       
       
        
   
    </div>
    



  <script>
    function startChat() {
      window.location.href = "/chat";
    }
  </script>
</body>
</html>
